* {
  box-sizing: border-box;
  margin: 0;
}

a {
  cursor: pointer;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Aleo", serif;
  font-weight: 300;
}

.header {
  min-height: 100vh;
  background: url(../img/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  position: relative;
}
.header__title {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 268px;
  letter-spacing: 2px;
}
.header__subtitle {
  letter-spacing: 8px;
  font-size: 20px;
  margin-top: 5px;
}
.header__scroll-down {
  max-width: 103px;
  margin: 0 auto;
  min-height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
  opacity: 0.8;
  z-index: 1;
}
.header__scroll-down a {
  text-decoration: none;
  color: white;
}

.fa-chevron-down {
  -webkit-animation: puls 2s ease-in-out infinite;
          animation: puls 2s ease-in-out infinite;
}

@-webkit-keyframes puls {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: none;
  }
}

@keyframes puls {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: none;
  }
}
.d-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.d-f .div {
  margin: 1px;
  transition: border-bottom 1s;
}
.d-f .div {
  border-bottom: 1px rgba(255, 255, 255, 0) solid;
}
.d-f .div:hover {
  border-bottom: 1px white solid;
}

.search {
  max-width: 635px;
  margin: 0 auto;
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
}
@media screen and (max-width: 430px) {
  .search {
    flex-direction: column;
  }
}
.search__button {
  text-transform: uppercase;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  background-color: #5474fd;
  color: rgba(255, 255, 255, 0.802);
  width: 130px;
  height: 50px;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  letter-spacing: 1px;
  fill: rgba(255, 255, 255, 0.802);
  outline: 2px solid white;
  cursor: pointer;
}
.search__button:hover svg {
  transform: scale(1.2);
}
.search__button:active svg {
  transform: scale(1);
}
.search__button:active {
  border: 2px solid #5474fd;
  background-color: #637ff8;
}

.svg {
  transition: transform 0.5s;
}

.search-button-p {
  margin-right: 15px;
}

.search-placeholder {
  min-width: 305px;
  background-color: white;
  flex-grow: 1;
  min-height: 54px;
  text-align: center;
  letter-spacing: 2px;
  border-color: none;
}

.search-placeholder::-moz-placeholder {
  letter-spacing: 2px;
}

.search-placeholder:-ms-input-placeholder {
  letter-spacing: 2px;
}

.search-placeholder::placeholder {
  letter-spacing: 2px;
}

.search-placeholder:focus-visible {
  outline-offset: none;
}

.search-placeholder:focus {
  outline-offset: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 10px;
}
.container--why-us {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 944px) {
  .container--why-us {
    justify-content: center;
  }
}
.container--why-us-icon {
  display: flex;
  justify-content: space-around;
  min-height: 337px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.container--left {
  display: flex;
  justify-content: flex-end;
}
.container--f {
  display: flex;
  flex-wrap: wrap;
}
.container--nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 668px) {
  .container--nav {
    justify-content: center;
  }
}

.pics {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 530px;
  margin: 10px;
  flex-grow: 1;
}

.tropic-village {
  align-self: flex-start;
}

.small-mountain {
  align-self: flex-end;
}

.navs {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background-color: #0066ff;
  width: 100%;
  vertical-align: center;
}
.navs .nav {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Aleo", serif;
  margin: 0 10px;
  line-height: 22px;
}
.navs .nav--f {
  margin-left: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  float: left;
  line-height: 22px;
}
.navs .nav--l {
  margin-right: 0;
}

.why_us {
  min-height: 100vh;
  position: relative;
}
.why_us__icons {
  background-color: #333333;
}
.why_us__main {
  background: url(../img/Rectangle7.jpg);
  background-position: center left 20%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 745px;
}

.img--why_us {
  max-width: 350px;
  max-height: 220px;
  margin: 2px;
}

.information {
  max-width: 530px;
  min-height: 400px;
  margin: 10px;
}
.information__title {
  font-family: "Aleo", serif;
  font-size: 33px;
  font-weight: 400;
  margin-top: 80px;
}
.information__paragraph {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 40px;
  line-height: 25px;
}
.information__paragraph--m-t-20 {
  margin-top: 20px;
}
.information__button {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 16px 0;
  width: 200px;
  background-color: #0066ff;
  font-family: "Aleo", serif;
  margin-top: 40px;
  transition: transform 1s;
  cursor: pointer;
}
.information__button:hover {
  transform: scale(1.05);
}
.information__button:active {
  transform: scale(0.9);
}

.item {
  text-align: center;
  margin: 10px;
}
.item__title {
  font-family: "Aleo", serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 30px;
}

.doted-line {
  position: absolute;
  width: 320px;
  height: 110px;
  border-radius: 300px/105px;
  opacity: 0.5;
  border-top: 1px dotted white;
}
@media screen and (max-width: 1060px) {
  .doted-line {
    display: none;
  }
}
.doted-line--l {
  left: 207px;
  top: 45px;
}
.doted-line--r {
  right: 207px;
  top: 45px;
}

.overview {
  min-height: 100vh;
  background-image: url(../img/spain-house.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 320px;
}
.overview--mountain {
  background-image: url(../img/mountain.jpg);
}

.book-now {
  max-width: 540px;
  min-height: 350px;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.789);
  padding: 35px 25px;
}
.book-now__country {
  margin-bottom: 20px;
}
.book-now__caption {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.book-now__paragraph {
  line-height: 25px;
}

.review {
  min-height: 100vh;
  background: url(../img/man-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}
.review__title {
  font-family: "Aleo", serif;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  margin-bottom: 80px;
}
.review__info {
  font-family: "Josefin Sans", sans-serif;
  line-height: 25px;
}
.review__info--f-word {
  padding-left: 30px;
}

.review-card {
  background-color: #333333;
  padding: 40px 60px;
  max-width: 645px;
  min-height: 284px;
}
.review-card__name {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

.quote {
  color: #5474fd;
  font-size: 22px;
}

.img {
  width: 100%;
  height: 100%;
}
.img--review {
  max-width: 445px;
  max-height: 284px;
}

.footer {
  min-height: 268px;
  background-color: #232323;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  padding-top: 100px;
}
.footer__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__subtitle {
  letter-spacing: 1px;
}
.footer__socials {
  display: flex;
}
.footer__socials a {
  text-decoration: none;
  color: white;
  margin: 10px;
  transition: color 0.5s;
}
.footer__socials a:nth-child(1):hover {
  color: #3b5998;
}
.footer__socials a:nth-child(2):hover {
  color: #1DA1F2;
}
.footer__socials a:nth-child(3):hover {
  color: #0e76a8;
}
.footer__socials a:nth-child(4):hover {
  color: #FF0000;
}
.footer__socials a:nth-child(5):hover {
  color: #c8232c;
}/*# sourceMappingURL=main.css.map */